// colors
$grey: #333333;
$light-grey: #fafafa;
$light-grey-border: #eeeeee;
$border: #bdbdbd;
$light-color: #aaa;

// Border Radius
$border-radius: 5px;

//Background Colors
$application-background: #FFF; //eee
$header-background: linear-gradient(-10deg, #772953, #e95420);
$main-background: rgba(233, 84, 31, 0.5);
$side-menu-background: linear-gradient(-10deg, #772953, #e95420);
$menu-item-background: rgba(255, 255, 255, 0.15);
$link-selected-background: #6EAF4B;
$link-hover-background: rgba(233, 84, 31, 1);


//Font Colors
$link-hover-color: white;
$link-menu-color: black;
$link-menu-color-selected: white;
$header-link-color: white;

//Font Sizes
$side-menu-font-size: 1.2em;

//Card Colors
$card-main-background: linear-gradient(to bottom, #dbe7d0 1%,#e9eae8 100%); //#f5f5f5;
$sortable-handle-background: #a2a2a2 url("/images/3dots.png") no-repeat center;
